// @import "../../../assets/css/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import "../../../styles/variables.scss";

.movie-list {
  .bg-movie-list {
        background: rgb(3,32,85);
    }
  .card-top {
    position: relative;
  }

  .title {
    font-family: "Rowdies";
  } 

  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    padding-bottom: 16px;
    border-bottom: 1px dashed #11326f;
    color: #fff;
  }

  ul li img {
    margin-right: 10px;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    border-radius: 8px;
    transition: all 1s ease;
    overflow: hidden;

    .btn {
      width: 150px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background: $btn-primary;
      border: 1px solid $btn-primary;
      color: #ffffff;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 5px;
      transition: all 1s;
      opacity: 0;
      font-size: 14px;
    }

    .btn-detail {
      margin-left: -900px;
      z-index: 2;
    }

    .btn-detail:hover {
        background: transparent;
        border: 1px solid $btn-primary;
    }

    .btn-trailer {
      margin-right: -900px;
      z-index: 2;
      background: transparent;
      border: 1px solid $btn-primary
    }

    .btn-trailer:hover {
        background: $btn-primary;
    }

}
.ant-card-hoverable:hover {
    .overlay {
        opacity: 1;
        .btn-detail {
            opacity: 1;
            margin-left: 0;
        }
        .btn-trailer {
            opacity: 1;
            margin-right: 0;
        }
    
    }
}

.ant-card-bordered {
    border: 1px solid rgb(3,32,85);
}

  .content {
    font-size: 17px;
    color: #fff;
  }

}
