@import "../../../styles/variables.scss";

.movie-tab {
  display: none;

  @include breakpoint(lg) {
    display: block;
  }
}

.scroll-y {
  overflow-x: hidden;
}

.bg-btn {
    background-color: $btn-primary;
}
.bg-btn:hover {
    background-color: $bg2;
    cursor: pointer;
}