@import url("https://fonts.googleapis.com/css2?family=Ubuntu::wght@400;500;700&display=swap");

$ubuntu-font: "Ubuntu", sans-serif;

$bg: rgb(255, 255, 255);
// $bg2: rgb(0, 0, 0);
// $bg2: rgba(0, 18, 50, 0.4);
// $bg2: rgb(54 100 139);
$bg2: rgb(16 78 139);
$bg-body: rgb(0, 18, 50);
$text: rgb(15, 15, 15);
$text2: rgb(240, 240, 240);
$primary: rgb(22, 210, 247);

$btn-slider: rgb(16, 78, 139, 0.7);
$btn-login: rgb(63 131 248 / 1);
$hover-btn-login: rgb(216, 201, 172, 0.5);

$border-radius: 30px;

$btn-primary: rgb(26 86 219 / 1);

$bg-container: rgba(255, 255, 255, 0.302);

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$header-height: 72px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

@mixin breakpoint($point) {
  @if $point == sm {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: $md) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: $lg) {
      @content;
    }
  }
}

$mobile-width: 600px;
$tablet-width: 1024px;

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin flex($aligin-item, $justify-content) {
  display: flex;
  align-items: $aligin-item;
  justify-content: $justify-content;
}

@mixin overplay {
  background-color: rgba($color: #000000, $alpha: 0.6);
}
