.backToTop {
  border-radius: 5px;
  font-size: 20px;
  background: #31d7a9;
  position: fixed;
  bottom: 30px;
  line-height: 44px;
  right: 30px;
  width: 45px;
  height: 45px;
  text-align: center;
}/*# sourceMappingURL=backToTop.css.map */