@import url("https://fonts.googleapis.com/css2?family=Ubuntu::wght@400;500;700&display=swap");
.banner {
  padding-top: 150px;
  padding-bottom: 50px;
  background: url("../../assets//banner1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.react-3d-carousel .slider-container .slider-right div,
.react-3d-carousel .slider-container .slider-left div {
  padding: 10px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: rgba(16, 78, 139, 0.7);
}
.react-3d-carousel .slider-container .slider-right div:hover,
.react-3d-carousel .slider-container .slider-left div:hover {
  background: rgb(16, 78, 139);
}
.react-3d-carousel .slider-container .slider-right div i,
.react-3d-carousel .slider-container .slider-left div i {
  display: block;
  line-height: 31px;
  color: rgb(255, 255, 255) !important;
  padding-left: 4px;
  font-size: 15px;
  text-align: center;
}/*# sourceMappingURL=banner.css.map */