@import url("https://fonts.googleapis.com/css2?family=Ubuntu::wght@400;500;700&display=swap");
.detailMovie__banner {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 75px;
}
.detailMovie__banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.detailMovie__banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, rgb(0, 18, 50), rgba(0, 0, 0, 0));
}
.detailMovie__banner .header {
  background: transparent;
}

.detailMovie-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.detailMovie-content__poster__img {
  display: none;
}
@media (min-width: 48em) {
  .detailMovie-content__poster__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding-top: 30%;
    width: 278px;
    height: 185px !important;
    object-fit: cover;
    position: absolute;
    display: inline-block;
  }
}
.detailMovie-content__poster .detailMovie-content__info {
  margin-left: 28%;
}
@media only screen and (max-width: 600px) {
  .detailMovie-content__poster .detailMovie-content__info {
    margin-left: 0;
  }
}
.detailMovie-content__poster .detailMovie-content__info .language span {
  font-size: 14px;
  color: #9aace5;
  text-transform: uppercase;
  margin-right: 6px;
  margin-bottom: 16px;
  display: inline-block;
}
.detailMovie-content__poster .detailMovie-content__info button {
  margin-bottom: 13px;
  border: 1px solid rgba(163, 177, 198, 0.2);
  font-size: 13px;
  color: #9aace5;
  text-transform: uppercase;
  padding: 6px 17px;
  border-radius: 18px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.detailMovie-content__poster .detailMovie-content__info button:hover {
  box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
}

.book-section {
  padding: 47px 0;
  background: rgb(3, 32, 85);
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .book-section .book-section__left {
    display: block;
  }
}
.book-section .book-section__left .book-section__list {
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .book-section .book-section__left .book-section__item {
    flex-wrap: wrap;
  }
}
.book-section .book-section__left img {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
.book-section .book-section__left span {
  color: #dbe2fb;
}
.book-section .book-section__left p {
  color: #dbe2fb;
}
.book-section .book-section__left .rated i {
  color: #f1481f;
}
.book-section .book-section__left .rated-it i {
  color: #223c6e;
}
.book-section .book-section__left .btn__detail {
  background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
  padding: 11px 24px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 25px;
  display: inline-block;
  margin-left: 80px;
  transition: all 0.3sx;
}
.book-section .book-section__left .btn__detail:hover {
  box-shadow: 0px 10px 15px 0px rgba(59, 55, 188, 0.5);
}

.detailMovie__bottom {
  background-color: rgb(0, 18, 50);
}
.detailMovie__bottom .detailMovie__left {
  max-width: 25%;
  padding-right: 15px;
}
@media only screen and (max-width: 600px) {
  .detailMovie__bottom .detailMovie__left {
    max-width: 100%;
    padding-right: 0 !important;
  }
}
.detailMovie__bottom .detailMovie__left .offer {
  border: 1px dashed #1f3253;
  border-radius: 10px;
  padding: 20px 20px 28px;
  margin-bottom: 30px;
}
.detailMovie__bottom .detailMovie__left .offer h3 {
  color: #fff;
  font-size: 16px;
  padding: 22px 0 12px;
}
.detailMovie__bottom .detailMovie__left .offer p {
  color: #9aace5;
  font-size: 14px;
  line-height: 18px;
}
.detailMovie__bottom .detailMovie__right {
  max-width: 75%;
  padding: 0 15px;
}
@media only screen and (max-width: 600px) {
  .detailMovie__bottom .detailMovie__right {
    max-width: 100%;
    padding: 0;
  }
}
.detailMovie__bottom .detailMovie__right .header h2 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 24px;
  font-weight: 700;
}
.detailMovie__bottom .detailMovie__right .header .item {
  margin-right: 30px;
  overflow: hidden;
  border-radius: 6px;
}
@media only screen and (max-width: 600px) {
  .detailMovie__bottom .detailMovie__right .header .item {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.detailMovie__bottom .detailMovie__right .header .item img {
  display: block;
  width: 100%;
}
.detailMovie__bottom .detailMovie__right .body .sub-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.25;
  color: #fff;
  margin-top: 40px;
}
.detailMovie__bottom .detailMovie__right .body p {
  color: #dbe2fb;
  font-size: 16px;
  margin-top: 8px;
}

.opset-1 {
  margin-left: 27%;
}
@media only screen and (max-width: 600px) {
  .opset-1 {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .opset-23 {
    margin-left: 115px;
  }
}

@media only screen and (max-width: 600px) {
  .opset-12 {
    margin-left: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .opset-4 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .opset-2 {
    padding-bottom: 10px;
  }
}/*# sourceMappingURL=DetailPage.css.map */