@import url("https://fonts.googleapis.com/css2?family=Ubuntu::wght@400;500;700&display=swap");
.footer {
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.footer .footer__container {
  max-width: 1280px;
}
.footer .new-slaters {
  padding-bottom: 40px;
}
@media (min-width: 48em) {
  .footer .new-slaters {
    padding-bottom: 60px;
  }
}
.footer .new-slaters .new-slaters__container {
  background-image: url("https://pixner.net/boleto/demo/assets/images/newslater/newslater-bg01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  padding: 60px 20px;
  position: relative;
  border-radius: 20px;
}
.footer .new-slaters .new-slaters__container .new-slaters__wrap {
  position: relative;
  z-index: 1;
}
.footer .new-slaters .new-slaters__container .new-slaters__wrap .cate {
  font-size: 18px;
  color: #31d7a9;
  text-transform: uppercase;
  font-weight: 600;
}
@media (min-width: 37.5em) {
  .footer .new-slaters .new-slaters__container .new-slaters__wrap .cate {
    font-size: 18px;
  }
}
@media (min-width: 48em) {
  .footer .new-slaters .new-slaters__container .new-slaters__wrap .cate {
    font-size: 28px;
  }
}
.footer .new-slaters .new-slaters__container .new-slaters__wrap .title {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.5;
  text-transform: uppercase;
  margin-top: -10px;
}
@media (min-width: 48em) {
  .footer .new-slaters .new-slaters__container .new-slaters__wrap .title {
    font-size: 36px;
  }
}
.footer .new-slaters .new-slaters__container .new-slaters__wrap .new-slaters__form {
  margin: 0 auto;
  position: relative;
}
.footer .new-slaters .new-slaters__container .new-slaters__wrap .new-slaters__form input {
  background: transparent;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  padding: 0 160px 0 20px;
  color: #99abe2;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}
.footer .new-slaters .new-slaters__container .new-slaters__wrap .new-slaters__form button {
  position: absolute;
  top: 0;
  right: 0;
  background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
  box-shadow: 3px 10px 15px 0px rgba(59, 55, 188, 0.5);
  width: auto;
  color: #fff;
  padding: 0 40px;
  border-radius: 25px;
  border: none;
  height: 50px;
}
.footer .new-slaters .new-slaters__container .new-slaters__wrap p {
  color: #dbe2fb;
  font-size: 16px;
  margin-top: -10px;
}
.footer .new-slaters .new-slaters__container::after {
  content: "";
  position: absolute;
  background-image: -webkit-linear-gradient(0deg, #7400ba 0%, #0f5ae0 100%);
  opacity: 0.8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer .footer__top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .footer__top .logo {
  margin-left: -24px;
}
@media (min-width: 48em) {
  .footer .footer__top .logo {
    margin-left: -50px;
  }
}
.footer .footer__top .logo img {
  object-fit: cover;
  height: 80px;
}
@media (min-width: 48em) {
  .footer .footer__top .logo img {
    height: auto;
    align-items: center;
  }
}
.footer .footer__top .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 39px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease;
  margin-top: -5px;
}
@media (min-width: 48em) {
  .footer .footer__top .social-icons a {
    padding-bottom: 0;
  }
}
.footer .footer__top .social-icons a:hover {
  background: #31d7a9;
  border-color: #31d7a9;
}
.footer .footer__bottom {
  letter-spacing: 1.25;
  color: #dbe2fb;
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 48em) {
  .footer .footer__bottom {
    font-size: 16px;
  }
}
.footer .footer__bottom img {
  height: 65px;
  display: inline-block;
  cursor: pointer;
  object-fit: cover;
  margin-left: -8px;
  margin-top: -1px;
  width: 90px;
}
@media (min-width: 48em) {
  .footer .footer__bottom img {
    width: auto;
    margin-left: -22px;
    margin-top: -1px;
    height: 80px;
  }
}
.footer .footer__bottom ul li {
  display: inline-block;
  margin-right: 25px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("https://pixner.net/boleto/demo/assets/images/footer/footer-shape.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=footer.css.map */