@import url("https://fonts.googleapis.com/css2?family=Ubuntu::wght@400;500;700&display=swap");
.header {
  width: 100%;
  height: 72px;
  background: rgb(16, 78, 139);
  color: rgb(240, 240, 240);
  position: fixed;
  box-shadow: 0 1px 5px rgb(22, 210, 247);
  z-index: 1000;
}
.header__content {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 16px;
  transition: 0.3s ease padding;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 48em) {
  .header__content {
    padding: 0 32px;
  }
}
.header__content > div {
  flex: 1;
  white-space: nowrap;
}
.header__content > div:nth-child(2) {
  display: flex;
  justify-content: center;
  height: 100%;
}
.header__content > div:last-of-type {
  display: flex;
  justify-content: flex-end;
}
.header__button__container {
  display: none;
}
@media (min-width: 48em) {
  .header__button__container {
    display: initial;
  }
}
.header__toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 48em) {
  .header__toggler {
    display: none;
  }
}
.header__toggler > svg {
  display: block;
  font-size: 32px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: rgb(240, 240, 240);
}

.nav {
  width: 100%;
  position: fixed;
  top: 72px;
  right: -100%;
  background: rgba(16, 78, 139, 0.8);
  text-align: center;
  padding: 16px 0;
}
.nav--open {
  transition: 0.2s ease right;
  right: 0;
}
.nav__item {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: inherit;
  height: 100%;
  transition: 0.3s ease color;
}
.nav__item:hover {
  color: rgb(22, 210, 247);
}
@media (min-width: 48em) {
  .nav {
    position: static;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: initial;
    width: auto;
    padding: 0;
  }
  .nav__item {
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__button__container {
    padding: 16px;
  }
}
@media (min-width: 48em) and (min-width: 48em) {
  .nav__button__container {
    display: none;
  }
}

.button {
  font-weight: 500;
  color: rgb(22, 210, 247);
  border: 2px solid rgb(22, 210, 247);
  padding: 8px 32px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 0.5rem 0 rgb(22, 210, 247);
}
.button:active {
  transform: scale(0.98);
  border-radius: 0;
}
.button:hover {
  box-shadow: 0 0 0.75em 0 rgb(22, 210, 247);
}/*# sourceMappingURL=Header.module.css.map */