@import url("https://fonts.googleapis.com/css2?family=Ubuntu::wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: rgb(15, 15, 15);
  height: 100vh;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  letter-spacing: inherit;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  padding: 0;
}/*# sourceMappingURL=index.css.map */