@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu::wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: rgb(15, 15, 15);
  height: 100vh;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  letter-spacing: inherit;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  padding: 0;
}

body {
  height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgb(0, 18, 50);
  position: relative;
}

#loginPage {
  position: absolute;
  left: 22%;
  top: 3%;
  right: 22%;
}

h2.loginTitle {
  text-align: center;
  font-size: 5rem;
  font-family: "Rowdies";
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-bottom: 70px;
}

#loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}
#loginForm .container__login {
  background-color: rgba(255, 255, 255, 0.302);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.login__right {
  padding: 50px 20px 30px 30px;
}
.login__right #basic_taiKhoan {
  border-radius: 6px;
  border: none;
  outline: none;
}
.login__right #basic_matKhau {
  padding: 3px 12px;
  transform: translateX(-10px);
}
.login__right .login__btn {
  background-color: rgb(63, 131, 248);
  padding: 2px 0;
}
.login__right .login__btn span {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}
.login__right .login__btn:hover span {
  color: rgba(216, 201, 172, 0.5);
}/*# sourceMappingURL=LoginPage.css.map */