@import url("https://fonts.googleapis.com/css2?family=Ubuntu::wght@400;500;700&display=swap");
.movie-tab {
  display: none;
}
@media (min-width: 64em) {
  .movie-tab {
    display: block;
  }
}

.scroll-y {
  overflow-x: hidden;
}

.bg-btn {
  background-color: rgb(26, 86, 219);
}

.bg-btn:hover {
  background-color: rgb(16, 78, 139);
  cursor: pointer;
}/*# sourceMappingURL=movieTab.css.map */