@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu::wght@400;500;700&display=swap");
.movie-list .bg-movie-list {
  background: rgb(3, 32, 85);
}
.movie-list .card-top {
  position: relative;
}
.movie-list .title {
  font-family: "Rowdies";
}
.movie-list h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-bottom: 16px;
  border-bottom: 1px dashed #11326f;
  color: #fff;
}
.movie-list ul li img {
  margin-right: 10px;
}
.movie-list .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  border-radius: 8px;
  transition: all 1s ease;
  overflow: hidden;
}
.movie-list .overlay .btn {
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: rgb(26, 86, 219);
  border: 1px solid rgb(26, 86, 219);
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 1s;
  opacity: 0;
  font-size: 14px;
}
.movie-list .overlay .btn-detail {
  margin-left: -900px;
  z-index: 2;
}
.movie-list .overlay .btn-detail:hover {
  background: transparent;
  border: 1px solid rgb(26, 86, 219);
}
.movie-list .overlay .btn-trailer {
  margin-right: -900px;
  z-index: 2;
  background: transparent;
  border: 1px solid rgb(26, 86, 219);
}
.movie-list .overlay .btn-trailer:hover {
  background: rgb(26, 86, 219);
}
.movie-list .ant-card-hoverable:hover .overlay {
  opacity: 1;
}
.movie-list .ant-card-hoverable:hover .overlay .btn-detail {
  opacity: 1;
  margin-left: 0;
}
.movie-list .ant-card-hoverable:hover .overlay .btn-trailer {
  opacity: 1;
  margin-right: 0;
}
.movie-list .ant-card-bordered {
  border: 1px solid rgb(3, 32, 85);
}
.movie-list .content {
  font-size: 17px;
  color: #fff;
}/*# sourceMappingURL=movieList.css.map */