@import url("https://fonts.googleapis.com/css2?family=Ubuntu::wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
h2.registerTitle {
  text-align: center;
  font-size: 5rem;
  font-family: "Rowdies";
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.register__content {
  padding-left: 95%;
}

.container__register {
  background-color: rgba(255, 255, 255, 0.302);
  position: absolute;
  left: 10%;
  top: 25%;
  right: 10%;
  border-radius: 10px;
  padding: 5% 3% 1% 3%;
}

.register__form label.ant-form-item-required {
  color: rgb(255, 255, 255);
}

.ant-row {
  display: block;
}

#basic_taiKhoan {
  border-radius: 6px;
  border: none;
  outline: none;
}

#basic_soDt,
#basic_hoTen,
#basic_email {
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 6px 22px;
}

.ant-form-item-control-input-content .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 35px;
}

#basic_email {
  padding: 6px 8px;
}

#btn__register {
  background-color: rgb(63, 131, 248);
  padding: 10px 59px 32px 59px;
  border: none;
}
#btn__register span {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}
#btn__register:hover span {
  color: rgba(216, 201, 172, 0.5);
}

@media (min-width: 1280px) {
  h2.registerTitle {
    font-size: 5rem;
    margin-bottom: -20px;
    margin-top: -16px;
  }
}
@media (min-width: 998px) and (max-width: 1279px) {
  h2.registerTitle {
    font-size: 4rem;
    margin-bottom: -40px;
    margin-top: -20px;
  }
}
@media (min-width: 668px) and (max-width: 997px) {
  h2.registerTitle {
    font-size: 3rem;
  }
}
@media (max-width: 667px) {
  h2.registerTitle {
    font-size: 2rem;
  }
}/*# sourceMappingURL=RegisterPage.css.map */