@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import "../../styles/index.scss";

body {
  height: 100vh;
  --tw-bg-opacity: 1;
  // background-color: rgb(63 131 248 / var(--tw-bg-opacity));
  background-color: $bg-body;
  position: relative;
}
#loginPage {
  position: absolute;
  left: 22%;
  top: 3%;
  right: 22%;
}
h2.loginTitle {
  text-align: center;
  font-size: 5rem;
  font-family: "Rowdies";
  color: $bg;
  font-weight: 900;
  padding-bottom: 70px;
}
#loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;

  .container__login {
    background-color: $bg-container;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}

.login__right {
  padding: 50px 20px 30px 30px;

  #basic_taiKhoan {
    border-radius: 6px;
    border: none;
    outline: none;
  }
  #basic_matKhau {
    padding: 3px 12px;
    transform: translateX(-10px);
  }
  .login__btn {
    background-color: $btn-login;
    padding: 2px 0;
    span {
      color: $bg;
      font-size: 1rem;
      font-weight: 500;
    }
    &:hover span {
      color: $hover-btn-login;
    }
  }
}
