@import "../../styles/variables.scss";

.detailMovie__banner {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 75px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overplay();
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $bg-body, rgba(black, 0));
  }

  .header {
    background: transparent;
  }
}

.detailMovie-content {
  @include flex(flex-start, flex-start);
  // max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  // margin-top: -200px;
  position: relative;
  // padding: 0 2rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-top: 100px;

  &__poster {
    &__img {
      display: none;
      @include breakpoint(md) {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;
        padding-top: 30%;
        width: 278px;
        height: 185px !important;
        object-fit: cover;
        position: absolute;
        display: inline-block;
      }
    }
    .detailMovie-content__info {
      @include mobile {
        margin-left: 0;
      }
      margin-left: 28%;
      .language span {
        font-size: 14px;
        color: #9aace5;
        text-transform: uppercase;
        margin-right: 6px;
        margin-bottom: 16px;
        display: inline-block;
      }

      button {
        margin-bottom: 13px;
        border: 1px solid rgba(163, 177, 198, 0.2);
        font-size: 13px;
        color: #9aace5;
        text-transform: uppercase;
        padding: 6px 17px;
        border-radius: 18px;
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
      }

      button:hover {
        box-shadow: 0px 10px 15px 0px rgb(59 55 188 / 50%);
      }
    }
  }
}

.book-section {
  padding: 47px 0;
  background: rgb(3, 32, 85);
  width: 100vw;
  .book-section__left {
    @include mobile {
      display: block;
    }
    .book-section__list {
      flex-wrap: wrap;
    }
    .book-section__item {
      @include mobile {
        flex-wrap: wrap;
      }
    }
    img {
      display: inline-block;
      margin-right: 8px;
      vertical-align: middle;
    }

    span {
      color: #dbe2fb;
    }

    p {
      color: #dbe2fb;
    }

    .rated i {
      color: #f1481f;
    }

    .rated-it i {
      color: #223c6e;
    }

    .btn__detail {
      background-image: -webkit-linear-gradient(
        169deg,
        #5560ff 17%,
        #aa52a1 63%,
        #ff4343 100%
      );
      padding: 11px 24px;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
      border-radius: 25px;
      display: inline-block;
      margin-left: 80px;
      transition: all 0.3sx;
    }

    .btn__detail:hover {
      box-shadow: 0px 10px 15px 0px rgb(59 55 188 / 50%);
    }
  }
}

.detailMovie__bottom {
  background-color: rgb(0, 18, 50);
  .detailMovie__left {
    max-width: 25%;
    padding-right: 15px;
    @include mobile {
      max-width: 100%;
      padding-right: 0 !important;
    }
    .offer {
      border: 1px dashed #1f3253;
      border-radius: 10px;
      padding: 20px 20px 28px;
      margin-bottom: 30px;
      h3 {
        color: #fff;
        font-size: 16px;
        padding: 22px 0 12px;
      }

      p {
        color: #9aace5;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .detailMovie__right {
    max-width: 75%;
    padding: 0 15px;  
    @include mobile {
      max-width: 100%;
      padding: 0;
    }
    .header {
      h2 {
        font-size: 28px;
        color: #fff;
        margin-bottom: 24px;
        font-weight: 700;
      }
      .item {
        margin-right: 30px;
        overflow: hidden;
        border-radius: 6px;
        @include mobile {
          margin-right: 0;
          margin-bottom: 30px;
        }
        img {
          display: block;
          width: 100%;
        }
      }
    }

    .body {
      .sub-title {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1.25;
        color: #fff;
        margin-top: 40px;
      }
      p {
        color: #dbe2fb;
        font-size: 16px;
        margin-top: 8px;
      }
    }

  }
}

.opset-1 {
  margin-left: 27%;
  @include mobile {
    margin-left: 0;
  }
}

//  1 opset = 5px
.opset-23 {
  @include mobile {
    margin-left: 115px;
  }
}

.opset-12 {
  @include mobile {
    margin-left: 60px;
  }
}

.opset-4 {
  @include mobile {
    margin-top: 20px;
  }
}

.opset-2 {
  @include mobile {
    padding-bottom: 10px;
  }
}
