@import "../../styles/variables.scss";

.banner {
  padding-top: 150px;
  padding-bottom: 50px;
  background: url("../../assets//banner1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.react-3d-carousel .slider-container .slider-right div,
.react-3d-carousel .slider-container .slider-left div {
  padding: 10px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: $btn-slider;
  &:hover {
    background: $bg2;
  }
  i {
    display: block;
    line-height: 31px;
    color: $bg !important;
    padding-left: 4px;
    font-size: 15px;
    text-align: center;
  }
}
